<div class="jumbotron text-center">
	<h1>Timeline Elcoma</h1>
	<p>1º Etapa do processo de Estágio - Desenvolvimento de Aplicação</p>
</div>
<div class="container">
	<% @dados.each do |post| %>
	<div class="row">
		<div class="col-xs-2">
			<img class="img-responsive img-thumbnail" src="<%= post['user']['picture']%>" alt="Foto de <%= post['user']['username'] %>">
		</div>
		<div class="col-xs-10">
			<div class="row">
				<div class="col-md-3 col-xs-6">
					<b><p><%= post['user']['username'] %></p></b>
				</div>
				<div class="col-md-3 col-xs-6">
					<p><%= post['date'] %></p>
				</div>
				<div class="col-md-3 col-xs-6">
					<p><%= post['likes'] %></p>
				</div>
				<div class="col-md-3 col-xs-6">
					<p><%= post['user']['location'] %></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<p><%= post['content'] %></p><br>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>