<div class="jumbotron text-center">
	<h1>Timeline Elcoma</h1>
	<p>1º Etapa do processo de Estágio - Desenvolvimento de Aplicação</p>
</div>
<div class="container posts">
  <div class="row">
    <div class="col-xs-12">
      <h3 style="text-align: center">Posts:</h3>
    </div>
  </div>
  <% i=0 %>
	<% @dados.each do |post| %>
	<div class="row post">
		<div class="col-xs-2">
			<img class="img-responsive img-thumbnail" src="<%= post['user']['picture']%>" alt="Foto de <%= post['user']['username'] %>">
		</div>
		<div class="col-xs-10">
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<p><b><%= post['user']['username'] %></b>:
            <%= post['user']['location'] %></p>
				</div>
				<div class="col-md-3 col-xs-6 date">
					<p><%= post['date'] %></p>
				</div>
				<div class="col-md-3 col-xs-6 likes">
          <button class="btn btn-xs btn-default" id="botaoCurtida<%= i %>" onclick="pressButton(<%= i %>)">
            <span id="curtidas<%=i%>"><%= post['likes'] %></span> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          </button>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<p><%= post['content'] %></p><br>
				</div>
			</div>
		</div>
	</div>
  <% i+=1 %>
	<% end %>
  <div class="row">
    <div class="col-xs-12">
      <h3 style="text-align: center">Fim dos posts. :(</h3>
    </div>
  </div>
</div>